.DS_Store
.AppleDouble
.LSOverride
._*

*.o
*.obj

*.a
*.dylib
*.so
*.lib
 
*.out
*.app

CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json

build/
build-*/
out/
cmake-build-*/

.vscode/
.idea/
*.xcworkspace/
xcuserdata/
